
    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Courses</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>Courses</li>
                </ul>
            </div>
            <div class="row">
                <!-- Your Profile Views Chart -->
                <div class="col-lg-12 m-b30">
                    <div class="widget-box">
                        <div class="wc-title">
                            <h4>Your Courses</h4><br>
                            <%if(course.length==0){%>
                                <p style="opacity: 0.5;">No more pending courses</p>
                            <%}%>
                        </div>
                        <%course.forEach((item)=>{%>

                        <div class="widget-inner">
                            <div class="card-courses-list admin-courses">
                                <div class="card-courses-media" style=" width: 250px; height: 170px;">
                                    <img src="<%=item.thumbnail%>" alt="<%=item.title%>"
                                        style="width:100%; height:100%; object-fit: fill; object-position: center;" />
                                </div>
                                <div class="card-courses-full-dec">
                                    <div class="card-courses-title">
                                        <h4><%=item.title%></h4>
                                    </div>
                                    <div class="card-courses-list-bx">
                                        <ul class="card-courses-view">
                                            <li class="card-courses-user">
                                                <div class="card-courses-user-pic">
                                                    <img src="admin/assets/images/testimonials/pic3.jpg" alt="" />
                                                </div>
                                                <div class="card-courses-user-info">
                                                    <h5>Instructor</h5>
                                                    <h4><%=item.instructor%></h4>
                                                </div>
                                            </li>
                                            <li class="card-courses-categories">
                                                <h5>Category</h5>
                                                <h4><%=item.category%></h4>
                                            </li>
                                            <li class="card-courses-review">
                                                <h5>3 Review</h5>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </li>
                                            <li class="card-courses-stats">
                                                <a href="#" class="btn button-sm red radius-xl">Not Approved</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row card-courses-dec">
                                        <div class="col-md-12">
                                            <h6 class="m-b10">Course Description</h6>
                                            <p><%=(item.description).substring(0,170)+'....'%></p>
                                        </div>
                                        <div class="col-md-12">
                                            <form action="/admin/approve-course?id=<%=item._id%>" method="post">
                                                <input class="btn green radius-xl outline" type="submit" value="Approve">&nbsp;
                                                &nbsp;<input class="btn red radius-xl outline" type="submit" value="Reject">
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <%})%>
                    </div>
                </div>
                <!-- Your Profile Views Chart END-->
            </div>
        </div>
    </main>
    <div class="ttr-overlay"></div>
