<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from Studeebee.themetrades.com/demo/admin/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 May 2019 08:30:07 GMT -->

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="Studeebee : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="Studeebee : Education HTML Template" />
    <meta property="og:description" content="Studeebee : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="../error-404.html" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="admin/assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Studeebee : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="admin/assets/js/html5shiv.min.js"></script>
	<script src="admin/assets/js/respond.min.js"></script>
	<![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/assets.css">
    <link rel="stylesheet" type="text/css" href="admin/assets/vendors/calendar/fullcalendar.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="admin/assets/css/dashboard.css">
    <link class="skin" rel="stylesheet" type="text/css" href="admin/assets/css/color/color-1.css">

</head>

<body class="ttr-opened-sidebar ttr-pinned-sidebar">

    <!-- header start -->
    <%- include('../partials/instructor/instructor_nav'); -%>
        <!-- header end -->
        <!-- Left sidebar menu start -->
        <%- include('../partials/instructor/instructor_sidebar'); -%>
            <!-- Left sidebar menu end -->

            <!--Main container start -->
            <main class="ttr-wrapper">
                <div class="container-fluid">
                    <div class="db-breadcrumb">
                        <h4 class="breadcrumb-title">Courses</h4>
                        <ul class="db-breadcrumb-list">
                            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                    <div class="row">
                        <!-- Your Profile Views Chart -->
                        <div class="col-lg-12 m-b30">
                            <div class="page-content bg-white">
                                <div class="content-block">

                                    <!-- Portfolio  -->
                                    <div class="section-area section-sp1 gallery-bx">

                                        <div class="container">
                                            <div class="wc-title">
                                                <h4>Live Courses</h4>
                                            </div>
                                            <div class="clearfix">
                                                <ul id="masonry" class="ttr-gallery-listing magnific-image row">
                                                    <%for (var i=0;i<list.length;i++ ) {%>
                                                    <li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
                                                        <div class="event-bx m-b30">
                                                            <div class="action-box">
                                                                <img src="/uploads/<%=list[i].thumbnail%>" alt="">
                                                            </div>
                                                            <div class="info-bx d-flex">
                                                                <div>
                                                                    <div class="event-time">
                                                                        <div class="event-date">10</div>
                                                                        <div class="event-month">October</div>
                                                                    </div>
                                                                </div>
                                                                <div class="event-info">
                                                                    <h4 class="event-title"><a href="#"><%=list[i].title%></a></h4>
                                                                    <ul class="media-post">
                                                                        <li><a href="#"><i class="fa fa-clock-o"></i><%=list[i].time1%>To<%=list[i].time2%></a></li>
                                                                        <li><p><%=list[i].description%></p>
                                                                    
                                                                        </li>
                                                                    </ul>
                                                                    <button type="submit" class="btn btn-primary">Take Live class</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <%}%>
                                                    <li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
                                                        <div class="event-bx m-b30">
                                                            <div class="action-box">
                                                                <img src="assets/images/dash3.jpg" alt="">
                                                            </div>
                                                            <div class="info-bx d-flex">
                                                                <div>
                                                                    <div class="event-time">
                                                                        <div class="event-date">29</div>
                                                                        <div class="event-month">October</div>
                                                                    </div>
                                                                </div>
                                                                <div class="event-info">
                                                                    <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                    <ul class="media-post">
                                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                        <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
                                                                        </li>
                                                                    </ul>
                                                                    <h5>Taken By</h5>
                                                                    <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="action-card col-lg-6 col-md-6 col-sm-12  expired">
                                                        <div class="event-bx m-b30">
                                                            <div class="action-box">
                                                                <img src="assets/images/dash2.jpg" alt="">
                                                            </div>
                                                            <div class="info-bx d-flex">
                                                                <div>
                                                                    <div class="event-time">
                                                                        <div class="event-date">29</div>
                                                                        <div class="event-month">October</div>
                                                                    </div>
                                                                </div>
                                                                <div class="event-info">
                                                                    <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                    <ul class="media-post">
                                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                        <li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a>
                                                                        </li>
                                                                    </ul>
                                                                    <h5>Taken By</h5>
                                                                    <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="action-card col-lg-6 col-md-6 col-sm-12 upcoming">
                                                        <div class="event-bx m-b30">
                                                            <div class="action-box">
                                                                <img src="assets/images/dash1.jpg" alt="">
                                                            </div>
                                                            <div class="info-bx d-flex">
                                                                <div>
                                                                    <div class="event-time">
                                                                        <div class="event-date">29</div>
                                                                        <div class="event-month">October</div>
                                                                    </div>
                                                                </div>
                                                                <div class="event-info">
                                                                    <h4 class="event-title"><a href="#">Education Autumn Tour 2019</a></h4>
                                                                    <ul class="media-post">
                                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
                                                                        <li><a href="#"><i class="fa fa-users"></i> Grades 6th to 8th</a>
                                                                        </li>
                                                                    </ul>
                                                                    <h5>Taken By</h5>
                                                                    <p>DEEPIKSHA, Btech IIT Bhu</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- contact area END -->
                            </div>
                          
                        </div>
                        <!-- Your Profile Views Chart END-->
                    </div>
                </div>
            </main>
            <div class="ttr-overlay"></div>

            <!-- External JavaScripts -->
            <script src="admin/assets/js/jquery.min.js"></script>
            <script src="admin/assets/vendors/bootstrap/js/popper.min.js"></script>
            <script src="admin/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
            <script src="admin/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
            <script src="admin/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
            <script src="admin/assets/vendors/magnific-popup/magnific-popup.js"></script>
            <script src="admin/assets/vendors/counter/waypoints-min.js"></script>
            <script src="admin/assets/vendors/counter/counterup.min.js"></script>
            <script src="admin/assets/vendors/imagesloaded/imagesloaded.js"></script>
            <script src="admin/assets/vendors/masonry/masonry.js"></script>
            <script src="admin/assets/vendors/masonry/filter.js"></script>
            <script src="admin/assets/vendors/owl-carousel/owl.carousel.js"></script>
            <script src='admin/assets/vendors/scroll/scrollbar.min.js'></script>
            <script src="admin/assets/js/functions.js"></script>
            <script src="admin/assets/vendors/chart/chart.min.js"></script>
            <script src="admin/assets/js/admin.js"></script>
            <script src='admin/assets/vendors/switcher/switcher.js'></script>
</body>

<!-- Mirrored from Studeebee.themetrades.com/demo/admin/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 May 2019 08:31:22 GMT -->

</html>